@model Online_Fast_food_Delievery.Models.Dto.ItemDto;
@{
    ViewData["Title"] = "Edit Item";
}

<h1>Edit Item</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"> Category </label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category" id="categoryDropdown"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubCategoryId" class="control-label"> SubCategory</label>
        <select asp-for="SubCategoryId" class="form-control" asp-items=" ViewBag.SubCategory" id="subCategoryDropdown">
            <option value="">-- Select SubCategory --</option>
        </select>
        <span asp-validation-for="SubCategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#categoryDropdown').change(function () {
            var categoryId = $(this).val();
            $.getJSON('@Url.Action("GetSubCategories", "Item")', { categoryId: categoryId }, function (data) {
                var subCategoryDropdown = $('#subCategoryDropdown');
                subCategoryDropdown.empty();
                $.each(data, function (i, subCategory) {
                    subCategoryDropdown.append($('<option></option>').attr('value', subCategory.id).text(subCategory.title));
                });
            });
        });
    });
</script>
